<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
      <!--other stuff-->
    <h1>Home </h1>
   
   <% for(let i=0; i<5; i++) { %>
        <p>Hello</p>
   <% } %>

</body>
</html>