<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Comment</title>
</head>
<body>
    <h1>Create New Comment</h1>
    <form action="/comments" method="post">
        <label for="un">Enter Username:</label>
        <input type="text" name="username" id="un">
        <br>
        <br>
        <label for="txt">Enter Comment:</label>
        <br>
        <textarea name="text" id="txt" cols="30" rows="5"></textarea>
        <br>
        <button>Submit</button>
    </form>

</body>
</html>