<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment not Found</title>
</head>
<body>
    <h1>Oops!</h1>
    <p>We cannot find comment with id <%= id %></p>
</body>
</html>